<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/index.css" th:href="@{/css/index.css}" />
</head>
<body>
<div th:insert="~{pattern :: header}"></div>
<!--ааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааа-->


    <div class="textAboutMain" >
        <h3 style="text-align: center" > О нашем садике: </h3>
        <h4> Наш садик очень любит детей и готов принять их чтобы защищать и заботиться о них в любое время!
        Если вы приведетя вашего ребенка к нам он обязательно получит лучшую заботу.</h4>

        <h3 style="text-align: center" > Наши задачи </h3>
        Подготовливаем детей к школе
        <br/>
        Воспитываем детей
        <br/>
        ухаживаем за детьми


        <h3 style="text-align: center" > Где мы находимся: </h3>
        <h4> Наш детский садик находится по адресу: Ул.Улицы Дом: 243</h4>
    </div>



<!--ааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааа-->
<div th:insert="~{pattern :: footer}"></div>
</body>
</html>