<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form action="/add" method="post">
            <input type="text" name="nameChild" placeholder="Имя">
            <input type="text" name="lastname" placeholder="Фамилия">
            <input type="text" name="patronymic" placeholder="Отчетство">
            <input type="text" name="age" placeholder="Лет">
            <input type="text" name="groupa" placeholder="Группа">
            <button type="submit">Добавить</button>
        </form>
    </div>
</body>
</html>