<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header" >
  <h1> Детский садик "Счасливый ребёнок" </h1>
  <h2> Мы рады вас видеть! </h2>
  <br/>
  <a href="/"><button class="buttonmenu"> Главная </button></a>
  <a href="/about"><button class="buttonmenu"> О нас </button></a>
  <a href="/news"><button class="buttonmenu"> Новости </button></a>
  <a href="/gallery"><button class="buttonmenu"> Галерея </button></a>
  <a href="/staff"><button class="buttonmenu"> Персонал </button></a>
  <a href="/feedback"><button class="buttonmenu"> Отзывы </button></a>
  <a href="/addChild"><button class="buttonmenu"> Запись </button></a>
  <a href="/Reg"><button class="buttonmenu"> Вход </button></a>
</header>
<div class="textAboutMain" >
  ААААААААААААААААААААААААААА
  АААААААААА
  АААААААААААААААААААААААААААААААААА
  ААААААААААААААААААААААААААА
  АААААА
  АААААААААААААААА
  ААААААААААААААААААААААААААААААА
  АААААААААААААААААААААААААА
  АААААААААААААААААААААААААААААААААААААААААААААААА
</div>
<footer>
  <h5> О сайте: </h5>
  <h6> Учебный сайт для тренировки навыков программирования
    на примере организации частного детского сада </h6>
</footer>
</body>
</html>