<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/index.css" th:href="@{/css/index.css}" />
</head>
<body>
<div th:insert="~{pattern :: header}"></div>
<div>

    <form action="/comment" method="post">
        <label> Комментарий </label>
        <input type="text" name="text" placeholder="место под комментарий">
        <input type="submit" value="Отправить"/>
    </form>





    <div th:each="el : ${comments}" >
        <label th:text="${el.id}" ></label>
        <label th:text="${el.text}" ></label>
        <label th:text="${el.getAuthorName()}" ></label>
    </div>



</div>
<div th:insert="~{pattern :: footer}"></div>
</body>
</html>