<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/index.css" th:href="@{/css/index.css}" />
</head>
<body>
<div th:insert="~{pattern :: header}"></div>
<div sec:authorize="hasAuthority('ADMIN')" >
    Добавить сотрудника на страницу
    <form th:action="@{/employee/add}" method="post" enctype="multipart/form-data" >
        <input type="text" name="name" placeholder="Имя">
        <br/>
        <input type="text" name="lastname" placeholder="Фамилия">
        <br/>
        <input type="text" name="patronymic" placeholder="Отчество">
        <br/>
        <input type="text" name="position" placeholder="Должность"/>
        <br/>
        <input type="file" name="file" accept="image/*" >
        <br/>
        <button type="submit">Добавить</button>
    </form>
</div>
<div th:each="employee: ${allEmployees}">
    <div><H1 th:text="${employee.position}">text</H1></div>
    <div sec:authorize="hasAuthority('ADMIN')">
        <form method="post"  th:action="@{/employee/delete/}">
            <input type="hidden" name="name" th:value="${employee.name}" >
            <input type="hidden" name="lastname" th:value="${employee.lastname}">
            <input type="submit" value="удалить запись о сотруднике"/></form>
    </div>
    <span >
            <label class="textAboutMain" th:text="${employee.name}">text</label> <br/>
            <label class="textAboutMain" th:text="${employee.lastname}">text</label> <br/>
            <label class="textAboutMain" th:text="${employee.patronymic}">text</label> <br/>
        </span>
    <p>
        <img th:src="@{/img/{filename}(filename = ${employee.filename})}" alt="Изображение" width="15%" height="100%" align="top">
    </p>
    <br/>
</div>
<div th:insert="~{pattern :: footer}"></div>
</body>
</html>